.vscode/
.idea/

__pycache__
**/__pycache__
*.pyc

local_settings.txt

db.sqlite3

static/
media/

*.sublime-project
*.sublime-workspace
*.todo
*.env
*.sqlite3
election_server/settings_local.py
XDG_CACHE_HOME

# voters dir
voters/
voters2/
*.env.sh
*.csv



local_logs/

stat_files/
stat_with_county_files/
populate_test_data/
delete_all_attendace_stats.py
*.code*


logs/*.log

t.py

venv/